body {
	margin:0px;
}
.top_page {
	min-height:100vh;
	/*background:yellow;*/
}
.home_gradient {
	position:absolute;
	height:800px;
	width:100%;
	z-index:-1;
}
.home_left {
	position:relative;
	float:left;
	width:30%;
	top:160px;
}
.logo_left {	
	position:relative;
	left:100px;
	height:280px;
	width:auto;
}
.Add_to_Discord_btn {
	position:relative;
	padding:13px;
	background:black;
	color:white;
	font-size:30px;
	border-radius:40px;
	top:70px;
	left:100px;
	width:250px;
	text-align:center;
}
.Join_server_btn {
	position:relative;
	padding:13px;
	margin-top:10px;
	background:black;
	color:white;
	font-size:30px;
	border-radius:40px;
	top:70px;
	left:85px;
	width:280px;
	text-align:center;
}
.home_text_right {
	position:relative;
	top:180px;
	right:220px;
	float:right;
	color:white;
	font-size:white;
	font-size:30px;
	width:60%;
}
.bottom_page {
	position:relative;
	min-height:100vh;
	width:100%;
	overflow-x:hidden;
}
.title {
	font-weight:bold;
	text-align:center;
	font-size:30px;
}
.commands_container {
	position:relative;
	left:20px;
}
.commands_box{
	position:relative;
	display:flex;
	flex-direction:row;
	width:250px;
	margin:10px;
	left:40px;
	background:#00AEEF;
	border-radius:10px;
}
.commands_box_text {
	position:relative;
	left:20px;
	color:white;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}