body{
	font-family:monospace;
	margin:0;
	overflow-x:hidden;
}

::-moz-selection { background: #333333; color:white;}
::selection { background: #333333; color:white;}


.navbar { /*ul*/
	position:fixed;
	margin:0px;
	top:0px;
	background:#04002D;
	padding:20px;
	width:100vw;
	overflow: hidden; /*prevent li elements from going outside of the list.*/
	height:35px;
	font-weight:bold;
	z-index:99;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav_logo {
	width:auto;
	height:40px;
	position:absolute;
	display:inline;
	color:white;
	font-size:40px;
	line-height:100%;
}
.nav_title {
	position:absolute;
	display:inline;
	color:white;
	font-size:35px;
	line-height:100%;
	left:80px;
}
.navbar_li { /*li right*/
	position:relative;
	display:inline;
	color:white;
	background:Transparent;
	padding-left:15px;
	padding-right:15px;
	height:30px;
	float:right;
	right:30px;
	font-size:25px;
}
.navbar_li:hover {
		background:grey;
}
.active_page{
	text-decoration:underline;
}
a {
	text-decoration:none;
		color:white;
}
	
	@media screen and (max-width: 1285px) { /*Makes tabs disappear on smaller devices*/
		.navbar_li{
			display:none;
		}
		
	
	}
	
@media only screen and (max-width: 530px) {
	.navbar {height:30px;}
	.nav_logo {height:30px;}
	.nav_title {font-size:30px;}
}
@media only screen and (max-width: 480px) {
	.navbar {height:25px;}
	.nav_logo {height:25px;}
	.nav_title {font-size:25px;}
}
@media only screen and (max-width: 400px) {
	.navbar {height:22px;}
	.nav_logo {height:22px;}
	.nav_title {font-size:22px;}
}
@media only screen and (max-width: 350px) {
	.navbar {height:17px;}
	.nav_logo {height:17px;}
	.nav_title {font-size:17px;}
}