body{
	font-family:monospace;
	margin:0;
	overflow-x:hidden;
}

::-moz-selection { background: #333333; color:white;}
::selection { background: #333333; color:white;}
::-webkit-selection { background-color: #333333; color:white;}
.TheResponsiveNavBarbackground {
	position:fixed;
	display:none;
	top:0px;
	left:0px;
	height:100vh;
	width:100vw;
	background:black;
	opacity:0.3;
	z-index:99;
}
.mobile_responsive_navbar {display:none;}
.responsive_navbar {
	display:none;
}
.responsive_navbar_li {
	display:none;
}
.navbar { /*ul*/
	position:fixed;
	margin:0px;
	top:0px;
	background:#04002D;
	padding:20px;
	width:100vw;
	overflow: hidden; /*prevent li elements from going outside of the list.*/
	height:35px;
	font-weight:bold;
	z-index:99;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	displaY:block;
}
.nav_logo {
	width:auto;
	height:40px;
	position:absolute;
	display:inline;
	color:white;
	font-size:40px;
	line-height:100%;
}
.nav_title {
	position:absolute;
	display:inline;
	color:white;
	font-size:35px;
	line-height:100%;
	left:80px;
}
.navbar_li { /*li right*/
	position:relative;
	display:inline;
	color:white;
	background:Transparent;
	padding-left:15px;
	padding-right:15px;
	height:30px;
	float:right;
	right:30px;
	font-size:25px;
}
.navbar_li:hover {
		background:grey;
}
.active_page{
	text-decoration:underline;
}
a {
	text-decoration:none;
		color:white;
}
	
	@media screen and (max-width: 1100px) { /*Makes tabs disappear on smaller devices*/
		.navbar_li{
			display:none;
		}
		.mobile_responsive_navbar_close {
			position:fixed;
			display:block;
			top:45vh;
			left:-340px;
			z-index:999;
			transition:0.7s;
		}		
		
		.mobile_responsive_navbar_open {
			position:fixed;
			display:block;
			top:45vh;
			left:0px;
			z-index:999;
			transition:0.7s;
		}
		.responsive_navbar {
			display:block;
			background:#04002D;
			width:300px;
			border-radius:0px 0px 30px 0px;
			padding:20px;
		}
		.r_navbar_button_plus {
			position:absolute;
			width:50px;
			left:340px;
			height:50px;
			background:#04002D;
			top:13px;
			border-radius: 0 25px 25px 0; /* This line was updated */
		}
		/* The newly created pseudo element */
		.r_navbar_button_plus::before {
		  content: "";
		  position: absolute;
		  
		  background-color: transparent; /*Make this transparent*/
		  bottom: -50px;
		  height: 50px;
		  width: 20px;
		  border-top-left-radius: 25px;
		  box-shadow: 0 -25px 0 0 #04002D; /*Make shadow the same colour as the box*/
		}	
		.fa-bars {
			position:relative;
			color:white;
			display:inline;
			top:18px;
			left:14px;
			transform: scale(2.2);
			transition:0.2s;
			cursor:pointer;
		}
		.fa-bars:hover {
			transition:0.2s;
			transform: rotate(90deg) scale(2.2);
		}
		.off {
			display:inline;
		}
		.off:hover {
			display:inline;
		}
		.on {
			display:none;
			transform: rotate(90deg) scale(2.2);
		}
		.on:hover {
			display:inline;
			transform: rotate(0deg) scale(2.2);
		}
		.responsive_navbar_li {
			display:block;
			position:relative;
			padding:20px;
		}
		.r_a_text {
			font-weight:bold;
			font-size:25px;
			color:white;
			padding:10px;
		}
		.r_a_text:hover {
			color:#00AEEF;
		}
	
	}
	
@media only screen and (max-width: 530px) {
	.navbar {height:30px;}
	.nav_logo {height:30px;}
	.nav_title {font-size:30px;}
}
@media only screen and (max-width: 480px) {
	.navbar {height:25px;}
	.nav_logo {height:25px;}
	.nav_title {font-size:25px;}
}
@media only screen and (max-width: 400px) {
	.navbar {height:22px;}
	.nav_logo {height:22px;}
	.nav_title {font-size:22px;}
}
@media only screen and (max-width: 350px) {
	.navbar {height:17px;}
	.nav_logo {height:17px;}
	.nav_title {font-size:17px;}
}